*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/libs/
base_java/libs/
base_java/src/main/res/mipmap-anydpi-v26/
base_java/src/main/res/mipmap/
base_kotlin/libs/
base_kotlin/src/main/res/mipmap-anydpi-v26/
base_kotlin/src/main/res/mipmap/
